<% layout("/layout/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>  
                <h1>Wanderlust</h1>
                <h3>Edit Listings</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required >
                    <div class="valid-feedback">Title look good</div>
                </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description:</label><br>
                <input type="text" name = "listing[description]" value="<%= listing.description %>" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location:</label><br>
                    <input type="text" name="listing[location]"  value="<%= listing.location %>" class="form-control" required>  
                    <div class="invalid-feedback">Location should be valid</div>   
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price:</label><br>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                    <div class="invalid-feedback">Enter correct price</div>
              </div>
              <div class="mb-3">
                <label for="country" class="form-label">Country:</label><br>
                <input type="text" name="listing[country]"  value="<%= listing.country %>" class="form-control" required>  
                <div class="invalid-feedback">country should be valid</div>
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Image:</label><br> 
                <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control" required>

              </div>
              <button class="btn btn-dark add-btn">Edit Listing</button>
               
        
            </form>
        
        </body>      
        </div>
    </div>
    <script src="/js/script.js"></script>
    
   