<% layout("/layout/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3><%= listing.title %></h3>
        </div>

        <div class="card col-6 offset-3 mt-3 listing-card">
            <img class="card-img-top show-img" src="<%= listing.image %>" alt="Listing_image">
            <div class="card-body">
                <p class="card-text">
                    <p>owned by:  <%= listing.owner.username%></p>
                   <p> <%= listing.description %><br></p>
                   <p> &#8377; <%= listing.price.toLocaleString("en-IN") %> /night <br></p>
                  <p>  <%= listing.location %><br></p>
                   <p> <%= listing.country %></p>
                   
                </p>
            </div>
        </div>
      <% if(currUser && listing.owner._id.equals(currUser._id) ) { %>
        <div class="col-6 offset-3 mt-3 d-flex justify-content-between">
            <a href="/listings/<%= listing._id %>/edit" 
                class="btn btn-dark"
                >Edit</a>

            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <% } %>
    </div>
   
    <div class="col-8 offset-3 mb-3" >
        <hr>
        <h4>Leave a review</h4>
         <% if(currUser){ %>
        <form action="/listings/<%=listing._id%>/reviews" method="post"
             novalidate class="needs-validation" >
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">rating</label>
                <input type="range" id="rating" min="1" max="5" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea type="text"
                 name="review[comment]"
                  id="comment"
                   cols="30" 
                   rows="10"
                    class="form-control"
                    required
                    ></textarea> 
                    <div class="invalid-feedback">
                        Please write comments for review
                    </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
         <% } %>
         <p><b>All Reviews</b></p>
        <div class="row">
                  <% for(review of listing.reviews){ %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <p class="card-text"><%= review.comment %></p>
                     <p class="card-text"><%= review.rating %>Stars</p>
                     <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>/?_method=Delete">
                        <button class="btn btn-dark mb-2">Delete review</button>
                     </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

